name: Run Gradle on PRs
on: push
jobs:
  gradle:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          java-version: 11
          distribution: 'zulu' # See 'Supported distributions' for available options

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Execute Gradle build
        run: sh gradlew clean asciidoctor

      - name: generate .nojekyll
        run: touch build/docs/asciidoc/.nojekyll

      - name: Deploy to GitHub Pages
        if: success()
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: gh-pages
          build_dir: build/docs/asciidoc
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

